/* src/components/DashboardComponent/notification.css */

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 260px;
    max-width: 400px;
    padding: 14px 18px;
    border-radius: 8px;
    color: white !important;
    font-size: 14px;
    font-weight: 500;
    z-index: 2000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);

    animation: slideIn 0.4s ease;
}

/* Success */

.notification.success {
    background: #2ecc71;
}

/* Error */

.notification.error {
    background: #e74c3c;
}

/* Warning */

.notification.warning {
    background: #f39c12;
}

/* Info */

.notification.info {
    background: #3498db;
}

/* Animation */

@keyframes slideIn {

    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

/* dark mode */

.dark-mode .notification {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .6);
}

/* responsive */

@media(max-width:768px) {

    .notification {
        left: 20px;
        right: 20px;
        min-width: auto;
    }

}